.example-card {
    min-width: 400px;
    outline: none;
    box-shadow: none;
  }
  .grid{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    overflow: auto;
}

img {
    width: 100%;
  }

@media(min-width:768px){
    .grid{
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
    }

}